.table-view .table-column {
    -fx-alignment: CENTER-LEFT;
}

#read-only .thumb {
    -fx-background-image : url("icons8-resize-vertical-16.png");
    -fx-background-color: transparent;
    -fx-padding: 8;
}

#arduino .table-cell{
  -fx-font-weight:bold;
  -fx-font-size:9px;
}

#arduino .table-row-cell{
    -fx-padding: 0;
    -fx-pref-height: 22px;
}

#arduino *.increment-button,
#arduino *.decrement-button,
#arduino *.increment-arrow,
#arduino *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}

#current-position {
    -fx-background-color: transparent;
    -fx-border-color: #64e792;
    -fx-border-width: 2px;
    -fx-background-insets: 0;
}

#current-position .column-header,#current-position .filler {
    -fx-background-color: #64e792;
    -fx-border-width: 0;
}