/.classpath
/.project
/.settings/
/target/
/scripts/bootstrap.js
/scripts/db.xml.gz
/scripts/plugins/Micro-Manager/
/scripts/jars/
/.idea
!/src/main/resource/lib/linux64/
!/src/main/resource/lib/win64/
