<!DOCTYPE html>
<html lang="en">
<head>
    <title>java</title>
    <style type="text/css" media="screen">
        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>
<body>

<div id="editor"></div>

<script src="ace.js" type="text/javascript" charset="utf-8"></script>
<script src="ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script>

    var editor;

    function initeditor() {
        ace.require("ace/ext/language_tools")
        editor = ace.edit("editor");
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/java");
        editor.commands.addCommand({
          name: "breakTheEditor",
          bindKey: "ctrl-c|ctrl-v|ctrl-x|ctrl-shift-v|shift-del|cmd-c|cmd-v|cmd-x",
          exec: function() {}
        });
    }

    function getvalue() {
        return editor.getValue();
    }

    function copyselection() {
        return editor.getCopyText();
    }

    function pastevalue(aValue) {
        editor.insert(aValue);
    }

    function setContent(content) {
        editor.setValue(content);
        editor.clearSelection();
    }
</script>
</body>
</html>